# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Distribution and build directories
build/
dist/
*.egg-info/

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
